#cmg-main.cmg-account {
    .action-buttons {
        .action-btn.add {
            background: var(--blue);
            margin-right: 10px;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
            transition: all .4s;

            .label {
                margin-left: 5px;
            }
        }

        .action-btn.add:hover {
            transform: scale(1.03);
            box-shadow: var(--boxShadow);
        }
    }

    .charts-wrapper {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        margin-bottom: 20px;

        .cmg-line-chart {
            width: 35%;
        }

    }

    .card {
        box-shadow: var(--boxShadow);
        background-color: var(--card-bg);
        border-radius: 5px;
        padding: 20px;
        transition: all .4s;

        &:hover {
            transform: var(--card-animate);
            box-shadow: var(--boxShadow-hover);
        }
    }

    .preview-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        .preview {
            flex: 1;
            padding: 0;

            .head {
                border-bottom: 1px solid var(--actionBorder);
                padding: 0 20px;
                height: 50px;
                line-height: 50px;

                .title {
                    font-size: 16px;
                }
            }

            .body {
                height: 200px;
                padding: 20px;
                overflow-y: scroll;

                .item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid var(--actionBorder);
                    padding: 10px;
                    border-radius: 5px;
                    margin-bottom: 10px;
                    
                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    .count {
                        width: 50px;
                        font-weight: 600;
                        text-align: center;
                    }

                    .info {
                        flex: 1;

                        .title {
                            margin-bottom: 5px;
                            font-size: 16px;
                            font-weight: 600;
                        }
                    }

                    .price {
                        width: 200px;
                        text-align: right;
                    }
                }
            }

            .foot {
                height: 50px;
                line-height: 50px;
                padding: 0 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: var(--default);
                border-radius: 0 0 5px 5px;
                color: var(--white);
                font-weight: 600;
            }
        }
    }
}

#cmg-main.history,
#cmg-main.expense,
#cmg-main.income,
#cmg-main.fees,
#cmg-main.payroll {
    .page-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .title {
            margin-bottom: 5px;
        }

        .today-date {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            .today {
                svg {
                    margin-right: 5px;
                }
            }
        }

        .action-btn {
            transition: all .4s;
            background: var(--blue);
            margin-right: 10px;
            color: #fff;
            padding: 10px;
            border-radius: 5px;

            &:hover {
                transform: scale(1.03);
                box-shadow: var(--boxShadow);
            }

            svg {
                margin-right: 5px;
            }
        }
    }

    .list-head-item.rows-per-page-search-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        background: var(--white);

        .rows-per-page-wrapper {
            font-size: 14px;

            .suffix {
                margin-left: 5px;
            }

            .prefix {
                margin-right: 5px;
            }

        }

        select {
            appearance: none;        /* Remove default arrow (some browsers) */
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
            background-image: url('data:image/svg+xml;utf8,<svg fill="gray" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
            background-repeat: no-repeat;
            background-position: right 10px center;
            background-size: 20px;
            width: 60px;
            background-position: right 1px center;

            &.payroll-select {
                margin-right: 20px;
            }

            &.year {
                margin-left: auto;
            }

            &.month {
                width: 100px;
            }
        }

        select:focus {
            outline: none;
            border-color: #007BFF;
            background-color: #fff;
        }

        input[type="search"] {
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
            width: 300px;
        }
    }
}

#cmg-main.history {
    .table-wrapper {
        thead tr th {
            &:nth-child(1) {
                width: 50px;
            }
            
            // &:nth-child(2) {
            //     width: 100px;
            // }

            // &:nth-child(3) {
            //     width: 200px;
            // }

            // &:nth-child(4),
            // &:nth-child(5),
            // &:nth-child(6) {
            //     width: 100px;
            // }

            // &:nth-child(7) {
            //     width: 300px;
            // }

            // &:nth-child(8),
            // &:nth-child(9) {
            //     width: 100px;
            // }

            table-layout: auto;
        }

        tbody tr td {

            &:nth-child(2) {
                text-align: center;
            }

            &:nth-child(3),
            &:nth-child(7) {
                font-weight: 600;
            }

            span {
                border-radius: 5px;
                font-weight: 600;

                &.income {
                    background: #1abe1738;
                    border: 2px solid #1abe17;
                    color: #1abe17;
                    padding: 5px 10px;
                }

                &.expenses {
                    background: #e826463a;
                    border: 2px solid #e82646;
                    color: #e82646;
                    padding: 5px 10px;
                }
            }
        }
    }
}

#cmg-main.fees,
#cmg-main.payroll {
    .table-wrapper {
        thead tr th {
            &:nth-child(1) {
                width: 30px;
                text-align: center;
            }
            
            &:nth-child(2) {
                width: 70px;
                text-align: center;
            }

            &:nth-child(3) {
                width: 200px;
            }

            &:nth-child(4) {
                width: 70px;
            }

            &:nth-child(6) {
                width: 100px;
            }

            &:nth-child(5) {
                width: 200px;
            }
        }

        tbody tr td {

            &:nth-child(1),
            &:nth-child(2) {
                text-align: center;
            }

            &:nth-child(3),
            &:nth-child(5) {
                font-weight: 600;
            }
        }
    }
}

#cmg-main.expense,
#cmg-main.income {
    .table-wrapper {
        thead tr th {
            &:nth-child(1) {
                width: 30px;
                text-align: center;
            }
            
            &:nth-child(2) {
                width: 70px;
                text-align: center;
            }

            &:nth-child(3) {
                width: 200px;
            }

            &:nth-child(4) {
                width: 70px;
            }

            &:nth-child(6) {
                width: 200px;
            }

            &:nth-child(5) {
                width: 50px;
            }

            &:nth-child(7) {
                width: 100px;
            }
        }

        tbody tr td {

            &:nth-child(1),
            &:nth-child(2) {
                text-align: center;
            }

            &:nth-child(3),
            &:nth-child(6) {
                font-weight: 600;
            }
        }
    }
}