.cmg-form-wrapper {
    &:not(.no-center) {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        background: var(--background);
        z-index: 99;
        width: 650px;
        box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.2666666667);
        border-radius: 30px;
    }

    .form-head {
        text-align: center;
        margin-bottom: 1.5rem;
        color: #2c3e50;

        .form-title {
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        .form-excerpt {
            font-size: 1rem;
            color: rgb(195.5, 195.5, 195.5);
        }
    }

    .form-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .form-field {
        margin-bottom: 1.25rem;
        width: 100%;

        .form-label {
            color: #2c3e50;
            display: block;
            font-weight: 500;
            margin-bottom: 0.5rem;
        }

        .form-error {
            color: #e74c3c;
            margin-left: 4px;
        }

        .react-select {
            width: 100%;
            padding: 4px;
            font-size: 1rem;
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #ffffff;
            transition: all 0.3s ease;
            box-sizing: border-box;

            .css-13cymwt-control {
                border: none;
            }
        }
    }

    input[disabled] {
        cursor: not-allowed !important;
        opacity: 0.5;
    }

    input,
    input[type="text"],
    input[type="date"],
    input[type="submit"],
    input[type="number"],
    textarea {
        width: 100%;
        padding: 0.75rem 1rem;
        font-size: 1rem;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #ffffff;
        transition: all 0.3s ease;
        box-sizing: border-box;
    }

    input[type="submit"] {
        background: rgb(170.0614754098, 22.9385245902, 62.487704918);
        color: var(--white);
        font-weight: 600;
        transition: all .4s;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        transform: scale(1.01);
    }

    select {
        appearance: none;        /* Remove default arrow (some browsers) */
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        background-image: url('data:image/svg+xml;utf8,<svg fill="gray" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 20px;
        width: 100%;
    }

    select:focus {
        outline: none;
        border-color: #007BFF;
        background-color: #fff;
    }

    .form-sortable {
        box-sizing: border-box;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;

        .sortable {
            padding: 0.75rem 1rem;
            font-size: 1rem;
            border: 1px solid #ddd;
            border-radius: 8px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .icon {
                color: #ddd;
                padding: 0 10px;
                cursor: grab;
            }

            &:last-child {
                margin-bottom: 0px;
            }

            .name {
                width: 50%;
            }

            input[type="date"] {
                width: 25%;
                padding: 0;
                border: none;
            }
        }
    }

    .form-radio {
        display: flex;
        align-items: center;
        gap: 20px;

        .form-field-inner-wrapper {
            display: flex;
            gap: 20px;
        }

        .form-field-inner {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        .form-label {
            margin-bottom: 0;
        }
    }

    .no-file {
        border: 2px dashed #0000003b;
        position: relative;
        height: 40px;

        &:after {
            content: "\2b";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 30px;
            font-weight: 700;
        }
    }

    .custom-range {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        input[type="range"] {
            flex: 1 1;
        }

        input[type="number"] {
            width: 20%;
        }
    }
}