/**
    1.  INNER SUBJECT
*/

// MARK: INNER SUBJECT
#cmg-main.subject-inner {
    .content-wrapper{
        background: var(--white);
        padding: 20px;
        border-radius: 5px;

        .page-header {
            padding-bottom: 20px;
            border-bottom: 1px solid var(--body-bg);
        }
    }

    .cmg-form-wrapper.no-center {
        width: 100%;

        .new-book-form {
            .col {
                flex: 1 1;
                align-self: start;

                .no-image {
                    position: relative;
                    border: 2px dashed black;
                    padding: 30px;
                    height: 100%;
        
                    .notice {
                        color: red;

                        &:after {
                            content: "\2b";
                            font-size: 30px;
                            font-weight: 600;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            color: #000;
                        }
                    }
                }

                .range-indicator {
                    border: 1px solid black;
                }
            }
        }
    }
}