.cmg-popup-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background: var(--background);
    z-index: 99;
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.2666666667);
    border-radius: 30px;
    max-height: 450px;

    .popup-title {
        text-align: center;
        border-bottom: 2px dashed rgba(0, 0, 0, 0.219);
        padding-bottom: 10px;
    }

    .popup-description {
        margin: 10px 0;
    }
    .popup {
        margin-bottom: 20px;
    }

    .margin-top {
        margin-top: 10px;
    }
    
    .margin-bottom {
        margin-bottom: 10px;
    }

    .popup-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }

    .popup-item {
        .field {
            font-weight: 700;
        }
    }

    iframe {
        height: 300px;
    }

    button {
        padding: 10px 15px;
        background: #1abe17;
        color: var(--white);
        font-size: 16px;
        border-radius: 5px;

        &:hover {
            transform: scale(1.03);
            box-shadow: 0px 0px 20px 5px rgba(19, 6, 6, 0.106);
            background: #06d102;
        }
    }
}