.cmg-routines-wrapper {
  max-width: 1200px;
  margin-inline: auto;
}

.cmg-routine-wrap {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

/* Sidebar */
.cmg-routine-sidebar {
  width: 200px;
  padding: 15px;
  background: #f5f5f5;
  border-radius: 8px;
}

.cmg-sidebar-title,
.cmg-content-title {
  font-size: 18px;
  margin-bottom: 15px;
}

.cmg-sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cmg-sidebar-item {
  margin-bottom: 10px;
}

.cmg-sidebar-btn {
  width: 100%;
  padding: 10px 12px;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: #eaeaea;
  }
}

/* Content area */
.cmg-routine-content {
  flex: 1;
  padding: 10px;
}

.accordionContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.accordion {
  cursor: pointer;
  margin-bottom: 0.6rem;
  border-radius: 5px;
  overflow: hidden;
}

.title,
.content {
  background-color: white;
  color: black;
}

td {
  padding: 6px 10px;
}

.title {
  display: flex;
  padding: 0.6rem;
  justify-content: space-between;
  align-items: center;
}

i {
  font-size: 1.3rem;
  transition: all 0.3s ease;
}

.content {
  color: gray;
  padding: 0 0.45rem 0.3rem;
  display: none;
}

.show {
  display: block;
}

.rotate {
  transform: rotate(180deg);
}
