#cmg-sidebar {
    width: 260px;
    height: -webkit-fill-available;
    background: var(--header-bg);
    position: fixed;
    z-index: 1;
    border-right: 1px solid var(--actionBorder);
    top: 60px;

    .cmg-menu {
        height: 100%;
        overflow-y: auto;
        padding: 10px;
        transition: all .3s ease-in-out;
    }

    .cmg-menu::-webkit-scrollbar {
        display: none;
    }

    .cmg-menu-item .submenu-heading {
        display: flex;
        align-items: center;
        color: var(--cmg-aside-section-title);
        font-size: 13px;
        font-weight: 600;
        margin: 0 0 14px;
        text-transform: uppercase;
    }

    .cmg-submenu {
        margin-bottom: 15px;
    }

    .cmg-menu-item .submenu-heading::after {
        content: '';
        background: rgb(218 218 218);
        height: 1px;
        margin-left: 8px;
        width: 100%;
    }

    .cmg-menu-item .cmg-list-item a {
        padding: 10px;
        display: block;
        color: var( --color );
        font-size: 14px;
        display: flex;
        gap: 10px;
        align-items: center;
        transition: all .3s ease-in-out;
    }

    .cmg-menu-item .cmg-list-item.active a {
        background: rgb(255 0 51 / 10%);
        color: var(--default);
        border-radius: 5px;
    }

    .cmg-menu-item .cmg-list-item a:hover {
        color: var(--default);
    }
}

.dark #cmg-sidebar .cmg-menu-item .cmg-list-item.active a {
    color: #fff;
    background: var(--default);
}

#cmg-header {
    .canvas-icon {
        color: var(--color);
        font-size: 18px;
        transition: all .3s ease-in-out;
    }
}

#cmg-header .canvas-icon:hover {
    color: var(--default);
    transform: scale(1.1);
}

#cmg-body.open {
    #cmg-main {
        margin-left: 70px;
    }

    #cmg-sidebar {
        width: 70px;
    
        .cmg-menu-item {
            width: 40px;
            margin-inline: auto;

            .submenu-heading {
                display: none;
            }
    
            .cmg-submenu {
                border-bottom: 1px solid var(--cmg-grey-dark-color);                
                padding-bottom: 10px;
                margin-bottom: 10px;
    
                .cmg-list-item {
                    .cmg-icon-wrapper {
                        justify-content: center;
    
                        .cmg-icon-label {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}