#student-fees-wrapper table {
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 0.9em;
    min-width: 400px;
    width: 100%;
    text-align: left;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#student-fees-wrapper table thead tr th {
    width: 300px;
    text-align: left;
    font-weight: 600;
    background: var(--default);
    font-weight: bold;
    color: white;
    padding: 12px 15px;
}

#student-fees-wrapper table tbody tr td {
    padding: 12px 15px;
}

#student-fees-wrapper table tbody tr:nth-child(even) {
    background: #f3f3f3;
}

#student-fees-wrapper .fees-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#student-fees-wrapper .today-date {
    display: flex;
    gap: 15px;
}

#student-fees-wrapper .today span {
    margin-left: 5px;
}

#student-fees-wrapper .pay-fees {
    background: #007A33;
    color: var(--white);
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

#student-fees-wrapper .pay-fees:hover {
    background: #009f42;
    box-shadow: 0px 0px 10px 0px #007a337b;
    transform: scale(1.05);
}

#student-fees-wrapper .download-receipt {
    text-align: center;
}

#student-fees-wrapper .fees-total-wrapper {
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin-left: -26px;
    background: var(--black);
    padding: 10px 15px;
    color: var(--white);
}

/**
* MARK: Pay Fees
*/
    #student-fees-wrapper .pay-fees-wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50% );
        padding: 10px;
        background: var(--white);
        z-index: 99;
        width: 400px;
        height: 450px;
        box-shadow: 0px 0px 20px 5px #ffffff44;
        border-radius: 30px;
    }

    #student-pay-fees .form-field {
        padding: 0 50px;
        margin-bottom: 20px;
    }

    #student-pay-fees .form-field-label-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #student-pay-fees .form-label {
        font-weight: 600;
        font-size: 14px;
    }

    #student-pay-fees .form-error {
        color: #ff0000;
        font-size: 12px;
    }

    #student-pay-fees input {
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin-top: 5px;
        border-radius: 5px;
        border: 1px solid black;
    }

    #student-pay-fees .form-head {
        text-align: center;
        margin: 15px 0;
    }

    #student-pay-fees h2.form-title {
        margin-bottom: 5px;
    }

    #student-pay-fees .form-excerpt, #student-pay-fees .form-desc, #student-pay-fees .form-label {
        font-size: 14px;
    }