img {
    height: 100%;
    width: 100%;
}

/* button */
body #root .button-action.cmg-btn-spacing {
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;
    gap: 10px;
    padding: 10px 14px;
}

.cmg-btn-spacing svg {
    font-size: 12px;
}