#profile-wrapper .banner-holder {
    height: 200px;
    width: 100%;
    border-radius: 5px;
    position: relative;
}

#profile-wrapper .banner-holder .galaxy-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#profile-wrapper .thumb-wrapper {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 30px;
}

#profile-wrapper .thumb-wrapper .user-profile {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}

#profile-wrapper .user-info {
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0;

}

#profile-wrapper .user-info .info {
    display: block;
    margin-top: 5px;
    color: var(--color);
}

#profile-wrapper .save-change {
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    background: #04AA6D;
}

#profile-wrapper .save-change:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#profile-wrapper .save-change:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

#profile-wrapper .save-change .label {
    margin-left: 5px;
}

#profile-wrapper .no-image {
    width: 100%;
    height: 50px;
    background: #fff;
    position: relative;
    border: 2px dashed #00000080;
    flex: 1 1;
}

#profile-wrapper .image-fig {
    width: 100%;
    height: 50px;
    background: #fff;
    position: relative;
    border: 2px dashed #00000080;
    flex: 1 1;
}

#profile-wrapper .no-image:hover {
    background: #00000018;
}

#profile-wrapper .no-image:after {
    content: "\2b";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 800;
}